<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="ECS" target="SYSTEM_OUT">
      <EcsLayout
          serviceName="payment-gateway"
          serviceVersion="0.0.1-SNAPSHOT"
      />
    </Console>
    <File name="ECS_FILE" fileName="log/payment-gateway.log">
      <EcsLayout
          serviceName="payment-gateway"
          serviceVersion="0.0.1-SNAPSHOT"
      />
    </File>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="ECS"/>
      <AppenderRef ref="ECS_FILE"/>
    </Root>
  </Loggers>
</Configuration>
